<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>
  <nav>
    <%= render 'workplaces/nav' %>
  </nav>
  <nav>
    <%= render 'workplaces/nav2' %>
  </nav>
  <section>
    <div class="container">
      <div class="columns is-multiline is-mobile">
        <% @workplaces.each do |workplace| %>
          <div class="column is-3">
            <div class="card">
              <header class="card-header">
                <figure class="image is-128x128">
                  <%= image_tag "#{workplace.logo}.png" %>
                </figure>
                <p class="card-header-title">
                  <%= workplace.name %>
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-12">
                      <p>DL score</p>
                      <progress class="progress is-warning" value="<%= workplace.CH %>" max="100">
                        <%= workplace.CH %>
                      </progress>
                    </div>
                    <div class="column is-12">
                      <h2 class="is-size-3 has-text-grey-darker has-text-center has-text-weight-normal">
                        <%= workplace.pay %> 🔥 </h2>
                    </div>
                    <br>
                  </div>
                  <%= link_to "More 🔎", workplace_path(workplace) %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </section>
  <footer>
    <%= render 'workplaces/footer' %>
  </footer>
</body>

</html>
